
.result-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
    overflow: hidden;

}
.percentagenumber{
    font-weight:800;
    font-size:xx-large;
}
.ResultContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
/* THE CIRCLE */
.score-circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: linear-gradient(135deg, #00f2fe, #4facfe);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 42px;
    font-weight: bold;
    box-shadow: 0 0 25px rgba(0, 242, 254, 0.8), 0 0 50px rgba(79, 172, 254, 0.6);
    /* Animation */
    animation: dropBounce 1.6s cubic-bezier(.22,.61,.36,1) forwards;
}

    /* TEXT */
    .score-circle span {
        animation: fadeIn 0.8s ease forwards;
        animation-delay: 1.2s;
        opacity: 0;
    }

/* DROP + DOUBLE BOUNCE */
@keyframes dropBounce {
    0% {
        transform: translateY(-400px) scale(0.8);
    }

    60% {
        transform: translateY(20px) scale(1.05);
    }

    75% {
        transform: translateY(-15px) scale(0.98);
    }

    88% {
        transform: translateY(8px) scale(1.02);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

/* TEXT FADE */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

